<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Lodge</title>
    <link rel="stylesheet" href="/error.css">
</head>
<body>
    <div class="main">
        <div class="box">
            <div class="num">
                <h1><%= statusCode %></h1>
            </div>
            <div class="animation">
                <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" alt="">
            </div>
            <div class="message">
                <p><b><%= message %></b></p>
                <p id="p2">the page you are looking for is not avaible!</p>
            </div>
            
        </div>
    </div>
</body>
</html>