
html, body{
    width: 100%;
    height: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

:root {
  --green: #58a497;
  --yellow: #e09449;
  --lightgreen1: #F15A24;
  --brown: #8b4448;
  --gray: gray;
  --lightgreen2: rgb(164, 189, 183, 0.5);
  --box: #ededed;
}

body {
  width: 100%;
  /* height: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  background-color: #ffffff;
  /* background: #f15b24f6; */
  overflow-x: hidden;
}

.nav{
  width: 95%;
  height: 9vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px #74737334;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22vw;
  /* padding-left: 35px; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  margin: 2rem 0;
  margin-left: 3%;
  border-radius: 0.5rem;
}
.nav img{
width: 4.6vw;
}
.srch{
display: flex;
align-items: center;
}
.srch input{
width: 30rem;
height: .4rem;
padding: 1rem;
font-size: 18px;
border: 1px solid rgba(78, 78, 78, 0.575);
border-radius: .3rem;
}
.srch button{
  background-color: transparent;
  border: none;
  padding: 5px;

}
.bx-search{
  font-size: 1.5em;
  position: relative;
  top: .25rem;
  /* left: ; */
  /* margin-top: 1rem; */
  right: 5.7rem;
  cursor: pointer;
  
}
.bx-search:hover{
color: orangered;
}
.bx-menu, .bx-user{
  font-size: 2em;
  color: black;
}
.bx-menu:hover, .bx-user:hover{
font-size: 2em;
color: orangered;
}
.nav a{
  text-decoration: none;
}


/* Content-1:Start */
.box {
  width: 88.7%;
  height: 50%;
  /* border-radius: 20px; */
  padding: 10px;
  text-align: center;
  background: rgb(247, 247, 247, 0.438);
  margin-left: 5rem;
}

.box1 {
  margin-top: 10px;
}

.content {
  margin: 15px 2px;
}

.image img {
  height: auto;
  width: 120px;
  border-radius: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.level {
  font-size: 0.7em;
  background-color: rgb(164, 189, 183, 0.5);
  width: 50px;
  padding: 3px;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 1px;

  display: block;
  margin: 0px auto 10px;
}
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  font-size: 1.25em;
  font-weight: bolder;
  letter-spacing: 1px;
}

.job_title {
  font-size: 0.75em;
  font-weight: bolder;
  color: gray;
  margin-top: 3px;
}

.job_discription {
  width: 50%;
  font-size: 0.7em;
  color: gray;
  margin: 10px 30px 20px;
}

.icons {
  margin: 0px 30px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}

.icons button {
  /* width: fit-content;
  height: fit-content; */
  border: none;
  font-size: 1em;
}



button {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-weight: bolder;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1rem;
  gap: 3%;
}

.button .message {
  background: #ededed;
  border: 2px solid #000;
}

.button .connect {
  background-color: #000;
  color: #ededed;
  border: none;
}
button.connect:hover {
  letter-spacing: 1px;
  transition: 0.5s;
  color: #ff7441;
}
button.message:hover {
  letter-spacing: 1px;
  transition: 0.5s;
  background: #e94c13;
  color: white;
}
/* Content-1:End */

.cards{
  display: flex;
  flex-wrap: wrap;
  /* gap: 100px; */
  margin-left: 30px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,800);
.snip1246 {
font-family: 'Raleway', Arial, sans-serif;
color: #fff;
position: relative;
overflow: hidden;
margin: 5px;
margin-top: 2rem;
/* min-width: 220px;
max-width: 310px; */
width:250px;
height: 20rem;
color: #000000;
text-align: left;
font-size: 16px;
-webkit-perspective: 50em;
perspective: 50em;
border-radius: 20px;
box-shadow: 5px 5px 10px #dbd9d934;
}
.snip1246 * {
/* -webkit-box-sizing: padding-box; */
/* box-sizing: padding-box; */
-webkit-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
.snip1246 img {
width: 100%;
height: 200px;
object-fit: cover;
/* vertical-align: top; */
/* border-radius: 8px; */
}
.snip1246 figcaption {
top: 20px;
left: 20px;
right: 20px;
bottom: 20px;
padding: 20px;
position: absolute;
opacity: 0;
z-index: 1;
-webkit-transform: translateY(40px);
transform: translateY(40px);
}
.snip1246 h2,
.snip1246 p {
margin: 0 0 5px;
}
.snip1246 h2 {
font-weight: 600;
}
.snip1246 p {
font-size: 0.8em;
}
.snip1246 .price {
position: absolute;
left: 0;
bottom: 0;
margin: 20px;
padding: 0.2em 0em;
font-weight: 400;
text-transform: uppercase;
font-size: 1.5em;
}
.snip1246 .add-to-cart {
position: absolute;
right: 0;
bottom: 0;
margin: 20px;
padding: 0.2em 0.5em;
border: 2px solid #141313;
padding: 0.5em 1em;
font-size: 0.8em;
text-decoration: none;
color: #000000;
font-weight: 600;
}
.snip1246 .add-to-cart:hover {
background-color: orangered;
color: #ffffff;
}
.snip1246:after {
background-color: #ffffff;
position: absolute;
content: "";
display: block;
top: 30px;
left: 20px;
right: 20px;
bottom: 20px;
-webkit-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
-webkit-transform: rotateX(-90deg);
transform: rotateX(-90deg);
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
opacity: 0;
}
.snip1246:hover figcaption,
.snip1246.hover figcaption {
-webkit-transform: translateY(0%);
transform: translateY(0%);
opacity: 1;
-webkit-transition-delay: 0.2s;
transition-delay: 0.2s;
}
.snip1246:hover:after,
.snip1246.hover:after {
-webkit-transform: rotateX(0);
transform: rotateX(0);
opacity: 0.9;
}

.location{
  font-weight: 700;
  opacity: 75%;
  
}
.location>p{
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 8px;
}
.container{
  width: 84.2%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
  padding-left: 5.5rem;
  background-color: rgba(247, 247, 247, 0.438);
}
.btn{
  display: flex;
  width: 50px;
  /* background-color: red; */
  /* gap: 2rem; */
  /* justify-content: space-between; */
}
.btn button{
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 1px;
  border: none;
}
.btn button i{
  color: rgb(3, 3, 3);
  /* background-color: rgba(255, 255, 255, 0.377); */
  padding: 2px;
  border-radius: 50%;
  font-size: 1.2rem;
  position: relative;
  top: -250%;
  left: 0%;
  z-index: 99;
  /* margin: 5px */
}
.ri-edit-2-fill:hover{
  color: orangered;
}
.ri-delete-bin-5-line:hover{
  color: rgb(216, 14, 14);
}


.footer{
  width: 100%;
  height: 40%;
  background-color: rgba(241, 241, 241, 0.651);
  display: flex;
  padding: 3rem;
  gap: 2rem;
  margin-top: 10px;
}
.prt1{
  display: flex;
  align-items: start;
  /* justify-content: center; */
  flex-direction: column;
  width: 33%;
  height: 100%;
  /* background-color: red; */
}
.prt1 p{
  font-size: 25px;
  margin-bottom: 10px;
}
.prt1 li{
  font-family: sans-serif;
  font-size: 15px;
  list-style: none;
  line-height: 2rem;
}
.prt2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 100%;
  gap: 2rem;
  /* background-color: green; */
}
.prt2 p{
  font-size: 25px;
  margin-bottom: 10px;
}
.icon{
  display: flex;
  gap: 2em;
}
.icon i{
  /* display: flex; */
  /* flex-direction: row; */
  font-size: 2rem;
  margin-top: 20px;
}
.prt3{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 100%;
  gap: 2rem;
  /* background-color: blueviolet; */
}
.prt3 p{
  font-size: 25px;
  margin-bottom: 10px;
}
.prt3 li{
  list-style: none;
}
.copyright{
  font-family: sans-serif;
  position: relative;
  bottom: 3%;
  font-size: 15px;
  margin-left: 35%;
}